#root {
  display: flex;
  flex-direction: column;
  /*width: 100vw;
  height: 100vh;*/
}
body {
  background-color: rgb(228, 222, 222);
}

.episodList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.episode {
  width: 27%;
  background-color: white;
  margin: 0 1.3rem 0.9rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
}

.episodeTitle {
  border-radius: 0.3rem;
  text-align: center;
  width: 23.1vw;
  font-size: 20px;
  padding: 1rem 1.3rem;
  font-weight: 400;
  margin: 0 0 1.5rem;
}

.episodeImg {
  max-width: 180px;
}

.episodeSummary {
  color: rgb(124, 122, 122);
  padding: 1.7rem;
}

.search {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;

  /*margin: 0.3rem 1rem 1.1rem 3.3rem;*/
}
.searchBox {
  width: 250px;
  height: 50px;
  margin-right: 1.5rem;
  margin-left: 0.5rem;
}

.searchCount {
  font-size: 18px;
  color: rgb(143, 141, 141);
  margin-top: 0.5rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

.siteContainer {
  text-align: center;
  margin-top: 2.5rem;
}

.episodeSelection {
  height: 50px;
  margin-left: 1.8rem;
  margin-right: 2.2rem;
}

.showSelection {
  height: 50px;
  margin-left: 0.5rem;
}
